.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-container {
    margin-top: 20px;
}

#weatherInfo {
    margin-top: 20px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFE5EF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #FFC4DB;
}

#weatherInfoContainer {
    display: flex;
    justify-content: space-between;
}

#currentWeatherInfo, #futureWeatherInfo {
    flex: 1;
    margin-right: 20px; /* Adjust as needed */
}

body {
    background-color: #C7EDFE;
}

